.mainCont {
  display: flex;
  flex-direction: column;
}

.info {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
}

.label {
  width: 2rem;
  position: relative;
  bottom: 0.5rem;
  text-align: right;
}
